:root {
    --background_color_header: #4ea0ff;
    --background_color_header_table: #20a9e5;
    --background_color_body_table: #b1e5f2;
    --alternative_background_color_body_table: white;
    --author: #858585;
    --highlighted: yellow;
}

* {
    margin: 0;
}

main {
    margin: 1rem;
}

#header {
    height: 100px;
    background-image: url("../img/pattern.png");
    background-color: var(--background_color_header);
    background-size: 30%;
}

.logo {

    width: 180px;
    margin-top: 3rem;
    padding-left: 1rem;
}


#main_title {
    margin-bottom: 0;
    font-size: 40px;
}

#author {
    color: var(--author);
    margin-bottom: 1.5rem;
}

#author_name {
    color: var(--background_color_header);
}

#date {
    font-size: 10px;
}

#description {
    font-size: 10px;
    margin-bottom: 1.5rem;
}

.highlighted_text {
    background-color: var(--highlighted);
}

#list {
    margin-top: 1.5rem;
    padding-left: 18px;
    margin-bottom: 1.5rem;
}

#table {
    text-align: left;
    border-spacing: 0;
    margin-bottom: 1.5rem;
}

#table_header {
    background-color: var(--background_color_header_table);
    color: white;
}

.w_50 {
    width: 50%;
}

.highlighted_row {
    background-color: var(--background_color_body_table);
}

#more {
    margin-top: 1.5rem;
    color: var(--author);
    margin-bottom: 1.5rem;
}

#more1 {
    color: white;
    background-image: url("../img/monitor.jpg");
    background-size: 100%;
    width: 15%;
    height: 100px;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
}

#more2 {
    color: white;
    background-image: url("../img/graph.jpg");
    background-size: 100%;
    width: 15%;
    height: 100px;
    padding-top: 0.2rem;
}